.leftLogo {
  width: 150px;
  background: #3f6185;
  padding: 1.5rem;
  text-align: right;
  font-weight: 600;
  font-size: 21px;
  line-height: 18px;
  color: #fff;
}

.container {
  display: flex;
}

.rightContainer {
  padding: 4rem;
  flex: 1;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.otherActions {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
  flex-direction: column;
}
