.barContainer {
  display: flex;
  align-items: center;
  height: 100%;
  height: 48px;
}

.logo {
  width: 100px;
  text-align: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.centerBarContent {
  flex: 1;
  padding: 2rem;
}

.personContainer {
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.createPostContainer {
  margin-right: 1rem;
}
