@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;900&display=swap);
.styles--barContainer--ur{display:flex;align-items:center;height:100%;height:48px}.styles--logo--AF{width:100px;text-align:right;font-weight:600;font-size:18px;line-height:18px}.styles--centerBarContent--Jk{flex:1;padding:2rem}.styles--personContainer--T3{background:#fff;display:flex;align-items:center;justify-content:center;border-radius:100%;cursor:pointer;width:36px;height:36px}.styles--createPostContainer--hs{margin-right:1rem}
.styles--leftLogo--Zt{width:150px;background:#3f6185;padding:1.5rem;text-align:right;font-weight:600;font-size:21px;line-height:18px;color:#fff}.styles--container--zS{display:flex}.styles--rightContainer--K4{padding:4rem;flex:1}.styles--fields--nM{display:flex;flex-direction:column;gap:1rem;margin-top:2rem}.styles--otherActions--WY{display:flex;margin-top:2rem;gap:.5rem;flex-direction:column}
.styles--menuContainer--yR{display:flex;flex-direction:column;gap:1rem;position:-webkit-sticky;position:sticky;top:5rem}
.styles--contentRoot--No{margin:1rem 0}.styles--crumbContainer--Th{margin-top:1.5rem}
body{margin:0;padding:0}a{color:#516d8a;text-decoration:none}
